/* Styling for the dropdown menu */
span a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

#dropdown {
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 3px 4px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

ol, ul {
    list-style: none;
}

.dropdown {
    position: relative;
    float: left;
    padding-bottom: 0px;
    margin: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

ol, ul {
    list-style: none;
}

 /* Styling for the genre page   */

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#movie-genre-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#movie-genre-list h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.genre {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.movie img {
    width: 100%;
}

.movie {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin: 25px;
}

/*  */
*{
    box-sizing: border-box;
}

body {
    /* feel free to update these css variables for a quick theme */
    
    --color1: white;
    --color2: white;
    --color3: white;
    --color4: white;
    --color5: white;
    
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
        
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 50px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

html, body {
    height: 100%;
    width: 100%;
}

html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}