ol, ul {
    list-style: none;
}


#nav {
    position: relative;
    width: 620px;
    margin: 0 auto;
    padding: 10px;
}

#ul-nav ul {
    margin: 0px auto;
    position: relative;
    float: left;
    
}

#ul-nav li {
    font-weight: bold;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
}

#ul-nav li a {
    padding: 10px 25px;
    color: black;
    text-shadow: 1px 1px 0px #fff;
    text-decoration: none;
    display: inline-block;
    background: white;
    transition: color 0.2s linear, background 0.2s linear;

    -webkit-transition: color 0.2s linear, background 0.2s linear;
    -moz-transition: color 0.2s linear, background 0.2s linear;
    -o-transition: color 0.2s linear, background 0.2s linear,
}


#ul-nav li a:hover {
    background-color: #f8f8f8;
    color: #2b2b2b;
}

#ul-nav li:hover > a {
    background: #fff;
}

#ul-nav li:hover > ul {
    visibility: visible;
    opacity: 1;
}

#ul-nav ul, #ul-nav ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 9999;
    width: 180px;
    background: #f8f8f8;
    box-shadow: 1px 1px 3px #ccc;

    transition: opacity 0.2s linear, visibility 0.2s linear;
    -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
    -o-transition: opacity 0.2s linear, visibility 0.2s linear;
}

#ul-nav ul {
    top: 43px;
    left: 1px;
}

#ul-nav ul li ul {
    top: 0;
    left: 181px;;
}

#ul-nav ul li {
    clear: both;
    width: 100%;
    border: 0 none;
    border-bottom: 1px solid #c9c9c9;
}

#ul-nav ul li a {
    background: none;
    padding: 7px 15px;
    color: #616161;
    text-shadow: 1px 1px 0px #fff;
    text-decoration: none;
    border: 0 none;
    float: left;
    clear: both;
    width: 150px;
}



/* nav {
    width: 15vw;
}

a {
    text-decoration: none;
}

ul {
    background: gray;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background: gray;
    display: block;
    float: left;
    padding: .25rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.3s;
}

li a {
    color: black;
}

li:hover, 
li:focus-within {
    background: white;
    cursor: pointer;
}

li:focus-within a {
    outline: none;

}

ul li ul {
    background: gray;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin: 0.25rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
} */

body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movies-list {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.genre {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.movie-image {
    width: 100%;
}


.movie-star {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}